body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
.container{
    flex: 1;
}
/* navbar */
.navbar{
    height: 5rem !important;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem ;
}

.nav-link{
    color: #222222 !important;
}
/* cards */
.listing-card{
    border:none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    object-fit: cover !important;
    width: 100% !important;

}
.card-body{
    padding: 0 !important;

}
.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none !important;

}
/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.3 !important;
    background-color: black !important;
    height: 20rem !important;
    border-radius: 1rem;
    
}

.add-btn{
    background-color: #fe424d !important;
border:none !important;
}
.edit-btn{
    background-color: #fe424d !important;
    border:none !important;
    color: white !important;
}
/* show page */
.show-img{
height: 30vh !important;

}
.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}

/* footer */
.f-info{
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: space-evenly;
}
.f-info-links a{
text-decoration: none ;
color: #222222;
}
.f-info-links a:hover{
text-decoration: underline ;
color: rgb(89, 89, 222);

}
.f-info-links,.f-info-socials,.f-info-brand{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.f-info-socials i{
font-size: 1.2rem;
margin-right: 1rem;
}
.f-info-socials i:hover{
    color: #fe424d ease-in;
}

/* Map */
#map{
    height: 400px;
    width: 50vw;

}

/* hometab */
#filters {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
    scroll-snap-type: x mandatory; /* Optional: for snapping effect */
}
#filters .filter {
    flex: 0 0 auto; /* Prevent flex items from shrinking */
    text-align: center; /* Center align text */
    scroll-snap-align: start; /* Optional: for snapping effect */
    padding: 10px;
}
/* Hide scrollbar */
#filters::-webkit-scrollbar {
    display: none;
}
#filters {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.filter{
    opacity: 0.7;
    transition: opacity 0.3s ease-in;
}

.filter:hover{
    opacity: 1;
    
}

#tax-info{
    height: 3.5rem;
    border: 1px solid black;
    border-radius: 1rem !important;
    margin-bottom: 1rem;
}
#tax-info label{
margin-bottom: 3px;
}
.tab{
    align-items: center;
}

.taxes{
    display: none;
}